/*COMO POSSO AJUDAR*/
.howHelp{
    width: 100%;
    background: none;
    min-height: 100vh;
    margin: top 15px;
    flex-direction: column;
}
.titleDescription{
    margin: auto;
    width: 60%;
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: #0d1520;
}
.title-content{
    font-weight: 400;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #0d1520;
}
.subtitle{
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    color: #0d1520;
}
.divIcons{
    width: 100%;
    padding: 30px 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.divSkills{
    width: 33%;
}
.textSkills{
    width: 70%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.2px;
    padding-top: 10px;
}
.imgWhatHelp{
    width: 50%;
    min-height: 100vh;
    background-image: url("../imagem/background-whathelp.jpg");
    background-position: center;
    background-size: cover;
}
.bodyButton{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.animateButton{
    position: absolute;
    left: 50px;
    bottom: 60px;
}

@media screen and (max-width:800px){
    .howHelp{
        width: 100%;
        margin: top 15px;
        flex-direction: column;
    }
    .titleDescription{
        width: 75%;
    }
    .divSkills{
        width: 100%;
        margin-bottom: 50px;
    }
    .divIcons{
        margin-top: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;
    }
    .title-content{
        margin-top: 30px;
        font-size: 1.8rem;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        color: #0d1520;
    }
    .imgWhatHelp{
        width: 100%;
        min-height: 50vh;
        margin-top: 50px;
        background-image: url("../imagem/background-whathelp.jpg");
        background-position: center;
        background-size: cover;
    }
    .mobile-responsive{
        flex-direction: column!important;
    }
}