/* line 1, ../../../../github/Landing-Page/scss/estilosGerais.scss */
* {
  margin: 0;
  padding: 0;
}

/*GERAL*/
/* line 6, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 12, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 17, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.space-between {
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
}

/* line 22, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.widhtForTwo {
  width: 50%;
}

/* line 25, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control {
  text-align: left;
}

/* line 27, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control input {
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/* line 38, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control label {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
  color: white;
}

/* line 44, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control textarea {
  margin-bottom: 30px;
  padding-top: 20%;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/* line 56, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control button {
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  /* line 63, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .flex-row {
    flex-direction: column;
  }
  /* line 66, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .widhtForTwo {
    width: 100%;
  }
  /* line 69, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control {
    text-align: center;
  }
  /* line 71, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control input {
    width: 90%;
  }
  /* line 74, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control textarea {
    padding-top: 20%;
    width: 90%;
  }
  /* line 78, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control button {
    margin: auto;
    width: 90%;
  }
}

/*HEADER*/
/* line 2, ../../../../github/Landing-Page/scss/header.scss */
.containerDiv {
  min-height: 100vh;
  position: relative;
  background-image: url("../imagem/galaxy-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 14, ../../../../github/Landing-Page/scss/header.scss */
.subContainerDiv {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 23, ../../../../github/Landing-Page/scss/header.scss */
.text-control {
  width: 40%;
  font-size: 1.2rem;
  text-align: justify;
}

/* line 28, ../../../../github/Landing-Page/scss/header.scss */
.CTAButton {
  margin-top: 20px;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  background-color: #386FA4;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  /* line 45, ../../../../github/Landing-Page/scss/header.scss */
  .subContainerDiv {
    font-size: 1.6rem;
    text-align: center;
  }
  /* line 49, ../../../../github/Landing-Page/scss/header.scss */
  .text-control {
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

/* line 1, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu {
  top: 0%;
  z-index: 99;
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
  position: absolute;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* line 13, ../../../../github/Landing-Page/scss/navMenu.scss */
.divLogo {
  width: 10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* line 20, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
}

/* line 31, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  /* line 37, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu {
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.719);
  }
  /* line 42, ../../../../github/Landing-Page/scss/navMenu.scss */
  .divLogo {
    width: 100%;
  }
  /* line 45, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu ul {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  /* line 50, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu ul li {
    margin-bottom: 15px;
  }
}

/*COMO POSSO AJUDAR*/
/* line 2, ../../../../github/Landing-Page/scss/howHelp.scss */
.howHelp {
  width: 50%;
  background: none;
  min-height: 100vh;
  margin: top 15px;
  flex-direction: column;
}

/* line 9, ../../../../github/Landing-Page/scss/howHelp.scss */
.titleDescription {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #0d1520;
}

/* line 19, ../../../../github/Landing-Page/scss/howHelp.scss */
.title-content {
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #0d1520;
}

/* line 26, ../../../../github/Landing-Page/scss/howHelp.scss */
.subtitle {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #0d1520;
}

/* line 34, ../../../../github/Landing-Page/scss/howHelp.scss */
.divIcons {
  width: 100%;
  padding: 30px 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 42, ../../../../github/Landing-Page/scss/howHelp.scss */
.divSkills {
  width: 33%;
}

/* line 45, ../../../../github/Landing-Page/scss/howHelp.scss */
.textSkills {
  width: 70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
}

/* line 54, ../../../../github/Landing-Page/scss/howHelp.scss */
.imgWhatHelp {
  width: 50%;
  min-height: 100vh;
  background-image: url("../imagem/background-whathelp.jpg");
  background-position: center;
  background-size: cover;
}

/* line 61, ../../../../github/Landing-Page/scss/howHelp.scss */
.bodyButton {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* line 66, ../../../../github/Landing-Page/scss/howHelp.scss */
.animateButton {
  position: absolute;
  left: 50px;
  bottom: 60px;
}

@media screen and (max-width: 1600px) {
  /* line 73, ../../../../github/Landing-Page/scss/howHelp.scss */
  .howHelp {
    width: 100%;
    margin: top 15px;
    flex-direction: column;
  }
  /* line 78, ../../../../github/Landing-Page/scss/howHelp.scss */
  .titleDescription {
    width: 75%;
  }
  /* line 81, ../../../../github/Landing-Page/scss/howHelp.scss */
  .divSkills {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 85, ../../../../github/Landing-Page/scss/howHelp.scss */
  .divIcons {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  /* line 92, ../../../../github/Landing-Page/scss/howHelp.scss */
  .title-content {
    margin-top: 30px;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #0d1520;
  }
  /* line 99, ../../../../github/Landing-Page/scss/howHelp.scss */
  .imgWhatHelp {
    width: 100%;
    min-height: 50vh;
    margin-top: 50px;
    background-image: url("../imagem/background-whathelp.jpg");
    background-position: center;
    background-size: cover;
  }
  /* line 107, ../../../../github/Landing-Page/scss/howHelp.scss */
  .mobile-responsive {
    flex-direction: column !important;
  }
}

/* line 1, ../../../../github/Landing-Page/scss/workTogether.scss */
.heaven {
  width: 100%;
  min-height: 100vh;
  background: black;
  overflow: hidden;
}

/* line 7, ../../../../github/Landing-Page/scss/workTogether.scss */
.flexContactDiv {
  align-items: initial;
}

/* line 10, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleRedesSociais {
  color: white;
  padding-top: 100px;
  text-transform: capitalize;
}

/* line 15, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleForms {
  margin-bottom: 30px;
}

/* line 18, ../../../../github/Landing-Page/scss/workTogether.scss */
.socialMediaIcon {
  color: white;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  /* line 23, ../../../../github/Landing-Page/scss/workTogether.scss */
  .socialMediaIcon {
    padding-left: 0px;
  }
}

/* line 16, ../../../../github/Landing-Page/scss/stars.scss */
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 1442px 156px white, 1725px 236px white, 1462px 1030px white, 1024px 848px white, 373px 856px white, 1502px 117px white, 1411px 782px white, 1834px 580px white, 859px 613px white, 1326px 100px white, 253px 523px white, 979px 363px white, 999px 442px white, 1599px 344px white, 1696px 625px white, 1279px 965px white, 737px 1079px white, 1908px 146px white, 1217px 49px white, 774px 887px white, 277px 793px white, 960px 635px white, 1296px 304px white, 1897px 644px white, 1628px 586px white, 1863px 58px white, 664px 416px white, 45px 700px white, 962px 174px white, 1806px 335px white, 1417px 1039px white, 459px 302px white, 1450px 32px white, 739px 871px white, 1174px 173px white, 217px 161px white, 276px 1075px white, 1697px 834px white, 1591px 162px white, 873px 532px white, 1599px 753px white, 127px 281px white, 359px 487px white, 653px 632px white, 1492px 221px white, 1164px 565px white, 246px 395px white, 575px 163px white, 1390px 608px white, 760px 937px white, 99px 205px white, 214px 578px white, 211px 599px white, 1427px 138px white, 444px 412px white, 178px 897px white, 993px 449px white, 1339px 909px white, 365px 198px white, 37px 325px white, 1541px 276px white, 963px 443px white, 469px 686px white, 1626px 820px white, 1497px 163px white, 943px 931px white, 534px 745px white, 1446px 610px white, 757px 194px white, 1098px 861px white, 444px 867px white, 563px 138px white, 1033px 746px white, 198px 225px white, 1367px 359px white, 728px 981px white, 1075px 397px white, 1715px 787px white, 1356px 74px white, 263px 607px white, 463px 967px white, 1372px 47px white, 668px 881px white, 28px 310px white, 196px 1001px white, 783px 32px white, 1212px 224px white, 1440px 355px white, 701px 980px white, 273px 155px white, 1449px 663px white, 228px 343px white, 926px 814px white, 1076px 208px white, 404px 842px white, 466px 919px white, 1081px 811px white, 447px 5px white, 982px 693px white, 1527px 910px white, 1282px 4px white, 1318px 506px white, 1478px 474px white, 785px 534px white, 1309px 133px white, 1029px 603px white, 784px 484px white, 3px 923px white, 1784px 454px white, 1823px 350px white, 1065px 103px white, 1711px 779px white, 1488px 538px white, 958px 111px white, 315px 373px white, 427px 137px white, 1227px 865px white, 1143px 171px white, 526px 571px white, 840px 186px white, 278px 188px white, 1578px 750px white, 673px 34px white, 1264px 572px white, 23px 37px white, 610px 601px white, 548px 1px white, 699px 997px white, 300px 776px white, 1478px 181px white, 1793px 361px white, 652px 201px white, 582px 34px white, 1556px 569px white, 1145px 223px white, 1124px 218px white, 460px 398px white, 1600px 138px white, 1347px 551px white, 187px 851px white, 723px 966px white, 1083px 888px white, 1833px 1054px white, 896px 40px white, 37px 149px white, 1545px 955px white, 726px 366px white, 1020px 33px white, 1119px 203px white, 552px 625px white, 118px 766px white, 15px 1066px white, 917px 1024px white, 1898px 624px white, 1475px 1034px white, 191px 606px white, 734px 250px white, 19px 855px white, 777px 718px white, 1266px 926px white, 33px 1014px white, 931px 284px white, 710px 788px white, 1829px 443px white, 557px 76px white, 1907px 480px white, 200px 706px white, 243px 795px white, 148px 420px white, 845px 648px white, 464px 816px white, 756px 183px white, 150px 356px white, 1009px 793px white, 468px 533px white, 665px 718px white, 711px 610px white, 1806px 1078px white, 1452px 222px white, 854px 423px white, 332px 472px white, 438px 387px white, 393px 16px white, 736px 770px white, 975px 872px white, 40px 456px white, 1310px 853px white, 168px 410px white, 1102px 539px white, 966px 387px white, 290px 6px white, 1663px 117px white, 1854px 121px white, 1571px 568px white, 1096px 441px white, 939px 12px white, 1813px 1054px white, 280px 632px white, 856px 177px white, 266px 826px white, 191px 198px white, 1492px 849px white, 1507px 239px white, 1371px 630px white, 684px 945px white, 206px 1074px white, 697px 114px white, 510px 831px white, 1719px 838px white, 1242px 609px white, 1899px 280px white, 477px 206px white, 350px 704px white, 369px 892px white, 21px 951px white, 310px 582px white, 1855px 291px white, 1827px 622px white, 852px 384px white, 1219px 356px white, 1031px 530px white, 1850px 452px white, 870px 235px white, 554px 604px white, 265px 84px white, 1767px 25px white, 1422px 46px white, 1877px 1010px white, 890px 71px white, 1030px 1009px white, 1260px 542px white, 1905px 61px white, 1866px 825px white, 1635px 705px white, 1815px 247px white, 1321px 224px white, 447px 410px white, 1905px 900px white, 1597px 233px white, 1640px 307px white, 852px 579px white, 967px 801px white, 1304px 51px white, 929px 87px white, 851px 953px white, 1915px 587px white, 619px 500px white, 815px 1046px white, 330px 241px white, 801px 627px white, 1293px 113px white, 1258px 85px white, 464px 627px white, 1103px 120px white, 674px 461px white, 1440px 562px white, 1780px 194px white, 254px 496px white, 1807px 751px white, 1325px 583px white, 558px 237px white, 112px 194px white, 1240px 118px white, 14px 1054px white, 896px 647px white, 258px 46px white, 547px 564px white, 1467px 177px white, 1475px 416px white, 1179px 41px white, 1504px 809px white, 1184px 718px white, 1035px 887px white, 163px 125px white, 1385px 981px white, 1659px 27px white, 491px 626px white, 1130px 707px white, 1511px 891px white, 187px 327px white, 1781px 87px white, 1895px 373px white, 669px 812px white, 963px 1060px white, 1070px 494px white, 961px 587px white, 972px 685px white, 193px 1054px white, 437px 721px white, 899px 556px white, 307px 643px white, 611px 720px white, 1132px 297px white, 784px 526px white, 373px 565px white, 19px 238px white, 169px 927px white, 1425px 99px white, 436px 157px white, 1591px 353px white, 944px 649px white, 22px 593px white, 564px 291px white, 446px 687px white, 23px 828px white, 187px 696px white, 1876px 852px white, 484px 542px white, 727px 249px white, 1267px 245px white, 202px 535px white, 1020px 221px white, 600px 701px white, 1700px 183px white, 1124px 34px white, 1743px 221px white, 715px 62px white, 1161px 733px white, 1016px 897px white, 162px 287px white, 1661px 980px white, 674px 138px white, 1425px 328px white, 1525px 294px white, 1698px 109px white, 237px 663px white, 391px 88px white, 1417px 471px white, 1338px 632px white, 525px 188px white, 1005px 892px white, 995px 152px white, 1675px 366px white, 1691px 57px white, 1171px 682px white, 910px 719px white, 934px 335px white, 1564px 997px white, 1367px 317px white, 1140px 790px white, 775px 183px white, 643px 771px white, 1081px 319px white, 547px 5px white, 584px 124px white, 732px 655px white, 623px 513px white, 1665px 272px white, 1474px 625px white, 7px 824px white, 169px 1026px white, 1459px 852px white, 1375px 294px white, 933px 726px white, 1918px 184px white, 1507px 339px white, 1134px 841px white, 1114px 420px white, 217px 166px white, 1891px 1053px white, 1263px 527px white, 1602px 648px white, 1249px 472px white, 191px 1026px white, 298px 459px white, 1878px 727px white, 1881px 1031px white, 895px 462px white, 1857px 919px white, 1099px 966px white, 1887px 604px white, 1198px 462px white, 968px 625px white, 1113px 464px white, 1153px 149px white, 1390px 435px white, 916px 61px white, 1337px 424px white, 1494px 156px white, 433px 686px white, 807px 556px white, 458px 460px white, 780px 140px white, 1900px 907px white, 459px 793px white, 1778px 602px white, 461px 860px white, 643px 653px white, 631px 873px white, 1807px 490px white, 4px 125px white, 1882px 544px white, 282px 590px white, 799px 900px white, 479px 596px white, 1086px 1074px white, 1299px 224px white, 112px 398px white, 128px 306px white, 162px 858px white, 1845px 883px white, 1801px 873px white, 1456px 413px white, 1012px 873px white, 1058px 864px white, 941px 871px white, 833px 362px white, 1079px 20px white, 1311px 403px white, 750px 1016px white, 1019px 1031px white, 216px 658px white, 1911px 17px white, 351px 106px white, 1787px 515px white, 470px 635px white, 1610px 163px white, 452px 599px white, 962px 37px white, 1027px 659px white, 303px 24px white, 152px 490px white, 1303px 767px white, 1209px 493px white, 1373px 205px white, 1508px 628px white, 1439px 648px white, 1052px 188px white, 1138px 606px white, 761px 172px white, 686px 402px white, 997px 99px white, 1844px 848px white, 1572px 125px white, 1611px 363px white, 296px 691px white, 229px 161px white, 1361px 721px white, 773px 742px white, 845px 364px white, 89px 632px white, 381px 1011px white, 1604px 250px white, 728px 1078px white, 1129px 899px white, 1082px 115px white, 1669px 446px white, 1888px 279px white, 1190px 919px white, 850px 171px white, 1074px 237px white, 1302px 179px white, 1222px 642px white, 622px 195px white, 1572px 817px white, 1244px 225px white, 860px 301px white, 312px 471px white, 659px 841px white, 88px 499px white, 1355px 913px white, 1010px 780px white, 347px 736px white, 1441px 935px white, 1791px 184px white, 1880px 166px white, 1536px 353px white, 1854px 658px white, 157px 637px white, 1374px 908px white, 928px 675px white, 1609px 590px white, 1442px 48px white, 484px 617px white, 1058px 243px white, 1830px 90px white, 218px 418px white, 729px 1009px white, 1895px 795px white, 165px 140px white, 1318px 465px white, 1407px 585px white, 118px 42px white, 908px 1025px white, 1677px 774px white, 1223px 596px white, 1710px 218px white, 1389px 824px white, 1060px 1080px white, 1331px 689px white, 885px 522px white, 1277px 278px white, 92px 722px white, 725px 842px white, 552px 453px white, 72px 933px white, 184px 1067px white, 567px 282px white, 547px 838px white, 362px 198px white, 1697px 530px white;
  z-index: -99;
  animation: starAnime 20s linear infinite;
}

@keyframes starAnime {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

/* line 32, ../../../../github/Landing-Page/scss/stars.scss */
.star::after {
  content: "";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 1442px 156px white, 1725px 236px white, 1462px 1030px white, 1024px 848px white, 373px 856px white, 1502px 117px white, 1411px 782px white, 1834px 580px white, 859px 613px white, 1326px 100px white, 253px 523px white, 979px 363px white, 999px 442px white, 1599px 344px white, 1696px 625px white, 1279px 965px white, 737px 1079px white, 1908px 146px white, 1217px 49px white, 774px 887px white, 277px 793px white, 960px 635px white, 1296px 304px white, 1897px 644px white, 1628px 586px white, 1863px 58px white, 664px 416px white, 45px 700px white, 962px 174px white, 1806px 335px white, 1417px 1039px white, 459px 302px white, 1450px 32px white, 739px 871px white, 1174px 173px white, 217px 161px white, 276px 1075px white, 1697px 834px white, 1591px 162px white, 873px 532px white, 1599px 753px white, 127px 281px white, 359px 487px white, 653px 632px white, 1492px 221px white, 1164px 565px white, 246px 395px white, 575px 163px white, 1390px 608px white, 760px 937px white, 99px 205px white, 214px 578px white, 211px 599px white, 1427px 138px white, 444px 412px white, 178px 897px white, 993px 449px white, 1339px 909px white, 365px 198px white, 37px 325px white, 1541px 276px white, 963px 443px white, 469px 686px white, 1626px 820px white, 1497px 163px white, 943px 931px white, 534px 745px white, 1446px 610px white, 757px 194px white, 1098px 861px white, 444px 867px white, 563px 138px white, 1033px 746px white, 198px 225px white, 1367px 359px white, 728px 981px white, 1075px 397px white, 1715px 787px white, 1356px 74px white, 263px 607px white, 463px 967px white, 1372px 47px white, 668px 881px white, 28px 310px white, 196px 1001px white, 783px 32px white, 1212px 224px white, 1440px 355px white, 701px 980px white, 273px 155px white, 1449px 663px white, 228px 343px white, 926px 814px white, 1076px 208px white, 404px 842px white, 466px 919px white, 1081px 811px white, 447px 5px white, 982px 693px white, 1527px 910px white, 1282px 4px white, 1318px 506px white, 1478px 474px white, 785px 534px white, 1309px 133px white, 1029px 603px white, 784px 484px white, 3px 923px white, 1784px 454px white, 1823px 350px white, 1065px 103px white, 1711px 779px white, 1488px 538px white, 958px 111px white, 315px 373px white, 427px 137px white, 1227px 865px white, 1143px 171px white, 526px 571px white, 840px 186px white, 278px 188px white, 1578px 750px white, 673px 34px white, 1264px 572px white, 23px 37px white, 610px 601px white, 548px 1px white, 699px 997px white, 300px 776px white, 1478px 181px white, 1793px 361px white, 652px 201px white, 582px 34px white, 1556px 569px white, 1145px 223px white, 1124px 218px white, 460px 398px white, 1600px 138px white, 1347px 551px white, 187px 851px white, 723px 966px white, 1083px 888px white, 1833px 1054px white, 896px 40px white, 37px 149px white, 1545px 955px white, 726px 366px white, 1020px 33px white, 1119px 203px white, 552px 625px white, 118px 766px white, 15px 1066px white, 917px 1024px white, 1898px 624px white, 1475px 1034px white, 191px 606px white, 734px 250px white, 19px 855px white, 777px 718px white, 1266px 926px white, 33px 1014px white, 931px 284px white, 710px 788px white, 1829px 443px white, 557px 76px white, 1907px 480px white, 200px 706px white, 243px 795px white, 148px 420px white, 845px 648px white, 464px 816px white, 756px 183px white, 150px 356px white, 1009px 793px white, 468px 533px white, 665px 718px white, 711px 610px white, 1806px 1078px white, 1452px 222px white, 854px 423px white, 332px 472px white, 438px 387px white, 393px 16px white, 736px 770px white, 975px 872px white, 40px 456px white, 1310px 853px white, 168px 410px white, 1102px 539px white, 966px 387px white, 290px 6px white, 1663px 117px white, 1854px 121px white, 1571px 568px white, 1096px 441px white, 939px 12px white, 1813px 1054px white, 280px 632px white, 856px 177px white, 266px 826px white, 191px 198px white, 1492px 849px white, 1507px 239px white, 1371px 630px white, 684px 945px white, 206px 1074px white, 697px 114px white, 510px 831px white, 1719px 838px white, 1242px 609px white, 1899px 280px white, 477px 206px white, 350px 704px white, 369px 892px white, 21px 951px white, 310px 582px white, 1855px 291px white, 1827px 622px white, 852px 384px white, 1219px 356px white, 1031px 530px white, 1850px 452px white, 870px 235px white, 554px 604px white, 265px 84px white, 1767px 25px white, 1422px 46px white, 1877px 1010px white, 890px 71px white, 1030px 1009px white, 1260px 542px white, 1905px 61px white, 1866px 825px white, 1635px 705px white, 1815px 247px white, 1321px 224px white, 447px 410px white, 1905px 900px white, 1597px 233px white, 1640px 307px white, 852px 579px white, 967px 801px white, 1304px 51px white, 929px 87px white, 851px 953px white, 1915px 587px white, 619px 500px white, 815px 1046px white, 330px 241px white, 801px 627px white, 1293px 113px white, 1258px 85px white, 464px 627px white, 1103px 120px white, 674px 461px white, 1440px 562px white, 1780px 194px white, 254px 496px white, 1807px 751px white, 1325px 583px white, 558px 237px white, 112px 194px white, 1240px 118px white, 14px 1054px white, 896px 647px white, 258px 46px white, 547px 564px white, 1467px 177px white, 1475px 416px white, 1179px 41px white, 1504px 809px white, 1184px 718px white, 1035px 887px white, 163px 125px white, 1385px 981px white, 1659px 27px white, 491px 626px white, 1130px 707px white, 1511px 891px white, 187px 327px white, 1781px 87px white, 1895px 373px white, 669px 812px white, 963px 1060px white, 1070px 494px white, 961px 587px white, 972px 685px white, 193px 1054px white, 437px 721px white, 899px 556px white, 307px 643px white, 611px 720px white, 1132px 297px white, 784px 526px white, 373px 565px white, 19px 238px white, 169px 927px white, 1425px 99px white, 436px 157px white, 1591px 353px white, 944px 649px white, 22px 593px white, 564px 291px white, 446px 687px white, 23px 828px white, 187px 696px white, 1876px 852px white, 484px 542px white, 727px 249px white, 1267px 245px white, 202px 535px white, 1020px 221px white, 600px 701px white, 1700px 183px white, 1124px 34px white, 1743px 221px white, 715px 62px white, 1161px 733px white, 1016px 897px white, 162px 287px white, 1661px 980px white, 674px 138px white, 1425px 328px white, 1525px 294px white, 1698px 109px white, 237px 663px white, 391px 88px white, 1417px 471px white, 1338px 632px white, 525px 188px white, 1005px 892px white, 995px 152px white, 1675px 366px white, 1691px 57px white, 1171px 682px white, 910px 719px white, 934px 335px white, 1564px 997px white, 1367px 317px white, 1140px 790px white, 775px 183px white, 643px 771px white, 1081px 319px white, 547px 5px white, 584px 124px white, 732px 655px white, 623px 513px white, 1665px 272px white, 1474px 625px white, 7px 824px white, 169px 1026px white, 1459px 852px white, 1375px 294px white, 933px 726px white, 1918px 184px white, 1507px 339px white, 1134px 841px white, 1114px 420px white, 217px 166px white, 1891px 1053px white, 1263px 527px white, 1602px 648px white, 1249px 472px white, 191px 1026px white, 298px 459px white, 1878px 727px white, 1881px 1031px white, 895px 462px white, 1857px 919px white, 1099px 966px white, 1887px 604px white, 1198px 462px white, 968px 625px white, 1113px 464px white, 1153px 149px white, 1390px 435px white, 916px 61px white, 1337px 424px white, 1494px 156px white, 433px 686px white, 807px 556px white, 458px 460px white, 780px 140px white, 1900px 907px white, 459px 793px white, 1778px 602px white, 461px 860px white, 643px 653px white, 631px 873px white, 1807px 490px white, 4px 125px white, 1882px 544px white, 282px 590px white, 799px 900px white, 479px 596px white, 1086px 1074px white, 1299px 224px white, 112px 398px white, 128px 306px white, 162px 858px white, 1845px 883px white, 1801px 873px white, 1456px 413px white, 1012px 873px white, 1058px 864px white, 941px 871px white, 833px 362px white, 1079px 20px white, 1311px 403px white, 750px 1016px white, 1019px 1031px white, 216px 658px white, 1911px 17px white, 351px 106px white, 1787px 515px white, 470px 635px white, 1610px 163px white, 452px 599px white, 962px 37px white, 1027px 659px white, 303px 24px white, 152px 490px white, 1303px 767px white, 1209px 493px white, 1373px 205px white, 1508px 628px white, 1439px 648px white, 1052px 188px white, 1138px 606px white, 761px 172px white, 686px 402px white, 997px 99px white, 1844px 848px white, 1572px 125px white, 1611px 363px white, 296px 691px white, 229px 161px white, 1361px 721px white, 773px 742px white, 845px 364px white, 89px 632px white, 381px 1011px white, 1604px 250px white, 728px 1078px white, 1129px 899px white, 1082px 115px white, 1669px 446px white, 1888px 279px white, 1190px 919px white, 850px 171px white, 1074px 237px white, 1302px 179px white, 1222px 642px white, 622px 195px white, 1572px 817px white, 1244px 225px white, 860px 301px white, 312px 471px white, 659px 841px white, 88px 499px white, 1355px 913px white, 1010px 780px white, 347px 736px white, 1441px 935px white, 1791px 184px white, 1880px 166px white, 1536px 353px white, 1854px 658px white, 157px 637px white, 1374px 908px white, 928px 675px white, 1609px 590px white, 1442px 48px white, 484px 617px white, 1058px 243px white, 1830px 90px white, 218px 418px white, 729px 1009px white, 1895px 795px white, 165px 140px white, 1318px 465px white, 1407px 585px white, 118px 42px white, 908px 1025px white, 1677px 774px white, 1223px 596px white, 1710px 218px white, 1389px 824px white, 1060px 1080px white, 1331px 689px white, 885px 522px white, 1277px 278px white, 92px 722px white, 725px 842px white, 552px 453px white, 72px 933px white, 184px 1067px white, 567px 282px white, 547px 838px white, 362px 198px white, 1697px 530px white;
}

/* line 1, ../../../../github/Landing-Page/scss/portfolio.scss */
.containerPortfolio {
  min-height: 200vh;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

/* line 8, ../../../../github/Landing-Page/scss/portfolio.scss */
.titlePortfolio {
  font-weight: 600;
  font-size: 45px;
}

/* line 12, ../../../../github/Landing-Page/scss/portfolio.scss */
.descrptionPortfolio {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 30%;
  text-align: center;
}

/* line 18, ../../../../github/Landing-Page/scss/portfolio.scss */
.itemPortfolio {
  width: 25%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 25, ../../../../github/Landing-Page/scss/portfolio.scss */
.titleItemPortfolio {
  text-align: center;
}

/* line 28, ../../../../github/Landing-Page/scss/portfolio.scss */
.textItemPortfolio {
  margin-bottom: 30px;
}

/* line 31, ../../../../github/Landing-Page/scss/portfolio.scss */
.flexPortfolio {
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  /* line 36, ../../../../github/Landing-Page/scss/portfolio.scss */
  .descrptionPortfolio {
    width: 75%;
    font-size: 1.2rem;
  }
  /* line 40, ../../../../github/Landing-Page/scss/portfolio.scss */
  .titlePortfolio {
    font-weight: 400;
    font-size: 1.8rem;
  }
  /* line 44, ../../../../github/Landing-Page/scss/portfolio.scss */
  .itemPortfolio {
    width: 100%;
    padding: 30px 0px;
  }
  /* line 48, ../../../../github/Landing-Page/scss/portfolio.scss */
  .flexPortfolio {
    width: 90%;
  }
}

/*# sourceMappingURL=styless.css.map */