/* line 1, ../../../../github/Landing-Page/scss/estilosGerais.scss */
* {
  margin: 0;
  padding: 0;
}

/*GERAL*/
/* line 6, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 12, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 17, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.space-between {
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
}

/* line 22, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.widhtForTwo {
  width: 50%;
}

/* line 25, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control {
  text-align: left;
}

/* line 27, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control input {
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/* line 38, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control label {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
  color: white;
}

/* line 44, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control textarea {
  margin-bottom: 30px;
  padding-top: 20%;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/*HEADER*/
/* line 2, ../../../../github/Landing-Page/scss/header.scss */
.containerDiv {
  min-height: 100vh;
  position: relative;
  background-image: url("../imagem/galaxy-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 14, ../../../../github/Landing-Page/scss/header.scss */
.subContainerDiv {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 23, ../../../../github/Landing-Page/scss/header.scss */
.text-control {
  width: 40%;
  font-size: 1.2rem;
  text-align: justify;
}

/* line 28, ../../../../github/Landing-Page/scss/header.scss */
.CTAButton {
  margin-top: 20px;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  background-color: #386FA4;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* line 1, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu {
  top: 0%;
  z-index: 99;
  color: white;
  position: absolute;
  min-height: 20vh;
  width: 100%;
  padding-top: 20px;
}

/* line 10, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

/* line 19, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul a {
  text-decoration: none;
  color: white;
}

/*COMO POSSO AJUDAR*/
/* line 2, ../../../../github/Landing-Page/scss/howHelp.scss */
.howHelp {
  width: 50%;
  background: none;
  min-height: 100vh;
  margin: top 15px;
  flex-direction: column;
}

/* line 9, ../../../../github/Landing-Page/scss/howHelp.scss */
.titleDescription {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #0d1520;
}

/* line 19, ../../../../github/Landing-Page/scss/howHelp.scss */
.title-content {
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #0d1520;
}

/* line 26, ../../../../github/Landing-Page/scss/howHelp.scss */
.subtitle {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #0d1520;
}

/* line 34, ../../../../github/Landing-Page/scss/howHelp.scss */
.divIcons {
  width: 100%;
  padding: 30px 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 42, ../../../../github/Landing-Page/scss/howHelp.scss */
.divSkills {
  width: 33%;
}

/* line 45, ../../../../github/Landing-Page/scss/howHelp.scss */
.textSkills {
  width: 70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
}

/* line 54, ../../../../github/Landing-Page/scss/howHelp.scss */
.imgWhatHelp {
  width: 50%;
  min-height: 100vh;
  background-image: url("../imagem/background-whathelp.jpg");
  background-position: center;
  background-size: cover;
}

/* line 61, ../../../../github/Landing-Page/scss/howHelp.scss */
.bodyButton {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* line 66, ../../../../github/Landing-Page/scss/howHelp.scss */
.animateButton {
  position: absolute;
  left: 50px;
  bottom: 60px;
}

/* line 1, ../../../../github/Landing-Page/scss/workTogether.scss */
.heaven {
  width: 100%;
  min-height: 100vh;
  background: black;
  overflow: hidden;
}

/* line 7, ../../../../github/Landing-Page/scss/workTogether.scss */
.flexContactDiv {
  align-items: initial;
}

/* line 10, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleRedesSociais {
  color: white;
  padding-top: 100px;
  text-transform: capitalize;
}

/* line 15, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleForms {
  margin-bottom: 30px;
}

/* line 18, ../../../../github/Landing-Page/scss/workTogether.scss */
.socialMediaIcon {
  color: white;
  padding-left: 30px;
}

/* line 16, ../../../../github/Landing-Page/scss/stars.scss */
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 592px 249px white, 1250px 128px white, 1737px 440px white, 1635px 600px white, 99px 986px white, 1834px 320px white, 339px 431px white, 1421px 675px white, 693px 776px white, 1589px 348px white, 341px 184px white, 514px 337px white, 785px 12px white, 1406px 712px white, 896px 176px white, 1856px 706px white, 836px 887px white, 1682px 1035px white, 1143px 805px white, 827px 149px white, 373px 1079px white, 809px 619px white, 1499px 692px white, 1147px 749px white, 407px 1006px white, 1027px 405px white, 765px 402px white, 1514px 769px white, 1011px 614px white, 1701px 429px white, 1424px 349px white, 76px 103px white, 784px 785px white, 227px 954px white, 1256px 258px white, 1814px 55px white, 1169px 605px white, 1508px 66px white, 1251px 763px white, 171px 444px white, 1521px 189px white, 1165px 577px white, 1736px 11px white, 1284px 185px white, 1682px 1015px white, 390px 805px white, 1782px 943px white, 302px 952px white, 147px 946px white, 594px 556px white, 1201px 1078px white, 1631px 95px white, 1375px 104px white, 869px 1028px white, 898px 179px white, 1299px 134px white, 1346px 375px white, 1085px 872px white, 78px 372px white, 1910px 968px white, 1668px 210px white, 1025px 935px white, 621px 767px white, 1814px 645px white, 809px 218px white, 1387px 28px white, 171px 949px white, 203px 704px white, 1623px 982px white, 1160px 329px white, 177px 1036px white, 1724px 279px white, 1721px 109px white, 519px 875px white, 24px 429px white, 480px 551px white, 1207px 461px white, 570px 375px white, 1098px 324px white, 779px 956px white, 1656px 584px white, 1875px 954px white, 666px 222px white, 336px 399px white, 34px 872px white, 694px 723px white, 328px 862px white, 187px 1063px white, 1479px 506px white, 512px 929px white, 685px 618px white, 36px 1005px white, 858px 532px white, 327px 118px white, 94px 696px white, 520px 768px white, 1487px 277px white, 446px 543px white, 1139px 509px white, 279px 459px white, 1170px 680px white, 401px 727px white, 1330px 255px white, 64px 537px white, 802px 117px white, 912px 727px white, 326px 1005px white, 810px 540px white, 1091px 1015px white, 730px 988px white, 1711px 318px white, 861px 607px white, 1127px 1071px white, 270px 923px white, 1153px 203px white, 1394px 335px white, 803px 987px white, 1042px 832px white, 1365px 938px white, 198px 1026px white, 697px 707px white, 667px 237px white, 1656px 384px white, 3px 500px white, 375px 429px white, 1722px 921px white, 1248px 1031px white, 855px 381px white, 1610px 615px white, 367px 490px white, 675px 116px white, 866px 146px white, 417px 511px white, 1712px 81px white, 198px 30px white, 1606px 327px white, 1325px 547px white, 48px 641px white, 1039px 592px white, 1894px 609px white, 1634px 523px white, 1025px 543px white, 854px 177px white, 1742px 576px white, 1307px 346px white, 1202px 192px white, 1268px 741px white, 343px 447px white, 296px 343px white, 155px 61px white, 614px 76px white, 60px 602px white, 499px 615px white, 1912px 548px white, 1622px 264px white, 474px 935px white, 37px 1009px white, 197px 967px white, 116px 997px white, 311px 206px white, 1796px 169px white, 436px 384px white, 1366px 1059px white, 1551px 295px white, 508px 1012px white, 593px 1034px white, 277px 596px white, 1599px 963px white, 696px 759px white, 1702px 460px white, 1220px 818px white, 877px 343px white, 681px 912px white, 474px 530px white, 1178px 1021px white, 1547px 794px white, 809px 364px white, 1387px 862px white, 942px 295px white, 379px 1059px white, 1770px 459px white, 583px 29px white, 809px 1060px white, 1643px 573px white, 431px 48px white, 1534px 942px white, 12px 456px white, 652px 530px white, 127px 1003px white, 852px 553px white, 382px 90px white, 1886px 499px white, 298px 83px white, 883px 87px white, 509px 49px white, 979px 474px white, 795px 4px white, 1656px 576px white, 1682px 240px white, 1012px 236px white, 419px 762px white, 1192px 922px white, 146px 881px white, 710px 255px white, 466px 47px white, 1286px 105px white, 761px 427px white, 35px 725px white, 798px 88px white, 1419px 1034px white, 1504px 414px white, 815px 885px white, 941px 593px white, 713px 133px white, 1634px 1012px white, 977px 885px white, 295px 923px white, 606px 973px white, 1215px 304px white, 319px 196px white, 1715px 499px white, 355px 1px white, 292px 383px white, 1416px 483px white, 792px 266px white, 128px 644px white, 1609px 733px white, 1019px 1032px white, 1158px 311px white, 180px 489px white, 996px 379px white, 710px 381px white, 1697px 571px white, 1106px 718px white, 101px 235px white, 630px 297px white, 382px 873px white, 165px 851px white, 401px 95px white, 1382px 395px white, 1437px 575px white, 505px 6px white, 343px 928px white, 754px 994px white, 1661px 455px white, 715px 168px white, 1700px 1061px white, 1420px 851px white, 439px 667px white, 1589px 272px white, 1308px 94px white, 47px 285px white, 1272px 454px white, 843px 650px white, 1060px 425px white, 1412px 573px white, 940px 59px white, 1744px 87px white, 608px 442px white, 1797px 652px white, 1901px 508px white, 1726px 134px white, 1465px 294px white, 1846px 153px white, 772px 132px white, 379px 992px white, 263px 1050px white, 709px 552px white, 1053px 472px white, 1918px 565px white, 1191px 769px white, 837px 926px white, 1555px 695px white, 562px 203px white, 1296px 132px white, 1700px 82px white, 203px 647px white, 224px 449px white, 242px 860px white, 282px 336px white, 507px 211px white, 1386px 932px white, 192px 157px white, 1910px 1054px white, 1635px 323px white, 545px 179px white, 220px 388px white, 947px 898px white, 619px 942px white, 1517px 617px white, 1610px 124px white, 1343px 338px white, 1805px 129px white, 1608px 204px white, 1249px 455px white, 1523px 77px white, 1521px 92px white, 849px 962px white, 851px 795px white, 326px 144px white, 1591px 713px white, 958px 991px white, 479px 403px white, 146px 404px white, 1598px 293px white, 618px 45px white, 1797px 315px white, 1792px 755px white, 1763px 662px white, 1045px 416px white, 246px 335px white, 595px 174px white, 94px 223px white, 1228px 195px white, 955px 366px white, 621px 687px white, 1193px 578px white, 1079px 845px white, 86px 598px white, 1161px 879px white, 1392px 753px white, 855px 207px white, 1512px 178px white, 474px 577px white, 252px 411px white, 362px 187px white, 577px 550px white, 332px 984px white, 270px 499px white, 1273px 288px white, 515px 774px white, 892px 291px white, 464px 553px white, 349px 650px white, 334px 351px white, 1288px 727px white, 1085px 160px white, 1305px 349px white, 1517px 1025px white, 172px 891px white, 116px 52px white, 1431px 1018px white, 149px 211px white, 1753px 131px white, 720px 295px white, 648px 189px white, 1624px 948px white, 567px 416px white, 1032px 776px white, 69px 266px white, 1473px 560px white, 1114px 206px white, 1801px 761px white, 1240px 612px white, 1104px 500px white, 1469px 881px white, 514px 942px white, 66px 590px white, 875px 899px white, 1526px 985px white, 693px 645px white, 1540px 242px white, 669px 629px white, 1153px 136px white, 1601px 755px white, 1772px 463px white, 1807px 585px white, 936px 885px white, 488px 1006px white, 982px 133px white, 1320px 94px white, 1447px 682px white, 854px 194px white, 1205px 68px white, 297px 756px white, 1812px 92px white, 727px 688px white, 106px 225px white, 614px 992px white, 357px 107px white, 102px 422px white, 478px 584px white, 816px 641px white, 1527px 357px white, 333px 496px white, 1268px 869px white, 591px 870px white, 785px 343px white, 1441px 531px white, 1213px 933px white, 331px 969px white, 562px 29px white, 689px 994px white, 1220px 1015px white, 1163px 650px white, 744px 41px white, 1303px 731px white, 1869px 885px white, 1434px 1078px white, 732px 104px white, 641px 481px white, 1704px 438px white, 1733px 661px white, 96px 633px white, 110px 834px white, 365px 1056px white, 1363px 196px white, 31px 662px white, 1456px 180px white, 1829px 613px white, 1126px 664px white, 248px 692px white, 1618px 470px white, 396px 642px white, 472px 255px white, 1283px 16px white, 60px 799px white, 1168px 780px white, 1714px 82px white, 1631px 550px white, 870px 1057px white, 1106px 714px white, 1067px 122px white, 43px 385px white, 377px 992px white, 482px 682px white, 233px 986px white, 1220px 106px white, 892px 685px white, 1684px 422px white, 1500px 1061px white, 1643px 857px white, 1801px 458px white, 1514px 969px white, 1789px 213px white, 1233px 1057px white, 1808px 117px white, 641px 415px white, 569px 81px white, 618px 1025px white, 282px 91px white, 885px 750px white, 108px 102px white, 200px 953px white, 1465px 277px white, 684px 662px white, 1088px 514px white, 251px 55px white, 903px 375px white, 1676px 636px white, 1543px 979px white, 854px 257px white, 324px 15px white, 1070px 279px white, 149px 274px white, 424px 568px white, 830px 52px white, 517px 813px white, 1383px 440px white, 520px 741px white, 1851px 975px white, 760px 14px white, 669px 758px white, 1456px 45px white, 559px 721px white, 178px 75px white, 328px 643px white, 1845px 99px white, 1009px 180px white, 310px 751px white, 78px 275px white, 1286px 983px white, 722px 545px white, 286px 716px white, 855px 829px white, 1729px 693px white, 486px 888px white, 1367px 403px white, 926px 601px white, 293px 349px white, 595px 1080px white, 341px 869px white, 1306px 945px white, 1387px 987px white, 1481px 746px white, 708px 792px white, 73px 867px white, 630px 228px white, 1775px 604px white, 637px 487px white, 834px 424px white, 1643px 328px white, 1248px 59px white, 541px 900px white, 544px 481px white, 1664px 244px white, 787px 870px white, 1575px 952px white, 1430px 663px white, 158px 155px white, 1701px 548px white;
  z-index: -99;
  animation: starAnime 20s linear infinite;
}

@keyframes starAnime {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

/* line 32, ../../../../github/Landing-Page/scss/stars.scss */
.star::after {
  content: "";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 592px 249px white, 1250px 128px white, 1737px 440px white, 1635px 600px white, 99px 986px white, 1834px 320px white, 339px 431px white, 1421px 675px white, 693px 776px white, 1589px 348px white, 341px 184px white, 514px 337px white, 785px 12px white, 1406px 712px white, 896px 176px white, 1856px 706px white, 836px 887px white, 1682px 1035px white, 1143px 805px white, 827px 149px white, 373px 1079px white, 809px 619px white, 1499px 692px white, 1147px 749px white, 407px 1006px white, 1027px 405px white, 765px 402px white, 1514px 769px white, 1011px 614px white, 1701px 429px white, 1424px 349px white, 76px 103px white, 784px 785px white, 227px 954px white, 1256px 258px white, 1814px 55px white, 1169px 605px white, 1508px 66px white, 1251px 763px white, 171px 444px white, 1521px 189px white, 1165px 577px white, 1736px 11px white, 1284px 185px white, 1682px 1015px white, 390px 805px white, 1782px 943px white, 302px 952px white, 147px 946px white, 594px 556px white, 1201px 1078px white, 1631px 95px white, 1375px 104px white, 869px 1028px white, 898px 179px white, 1299px 134px white, 1346px 375px white, 1085px 872px white, 78px 372px white, 1910px 968px white, 1668px 210px white, 1025px 935px white, 621px 767px white, 1814px 645px white, 809px 218px white, 1387px 28px white, 171px 949px white, 203px 704px white, 1623px 982px white, 1160px 329px white, 177px 1036px white, 1724px 279px white, 1721px 109px white, 519px 875px white, 24px 429px white, 480px 551px white, 1207px 461px white, 570px 375px white, 1098px 324px white, 779px 956px white, 1656px 584px white, 1875px 954px white, 666px 222px white, 336px 399px white, 34px 872px white, 694px 723px white, 328px 862px white, 187px 1063px white, 1479px 506px white, 512px 929px white, 685px 618px white, 36px 1005px white, 858px 532px white, 327px 118px white, 94px 696px white, 520px 768px white, 1487px 277px white, 446px 543px white, 1139px 509px white, 279px 459px white, 1170px 680px white, 401px 727px white, 1330px 255px white, 64px 537px white, 802px 117px white, 912px 727px white, 326px 1005px white, 810px 540px white, 1091px 1015px white, 730px 988px white, 1711px 318px white, 861px 607px white, 1127px 1071px white, 270px 923px white, 1153px 203px white, 1394px 335px white, 803px 987px white, 1042px 832px white, 1365px 938px white, 198px 1026px white, 697px 707px white, 667px 237px white, 1656px 384px white, 3px 500px white, 375px 429px white, 1722px 921px white, 1248px 1031px white, 855px 381px white, 1610px 615px white, 367px 490px white, 675px 116px white, 866px 146px white, 417px 511px white, 1712px 81px white, 198px 30px white, 1606px 327px white, 1325px 547px white, 48px 641px white, 1039px 592px white, 1894px 609px white, 1634px 523px white, 1025px 543px white, 854px 177px white, 1742px 576px white, 1307px 346px white, 1202px 192px white, 1268px 741px white, 343px 447px white, 296px 343px white, 155px 61px white, 614px 76px white, 60px 602px white, 499px 615px white, 1912px 548px white, 1622px 264px white, 474px 935px white, 37px 1009px white, 197px 967px white, 116px 997px white, 311px 206px white, 1796px 169px white, 436px 384px white, 1366px 1059px white, 1551px 295px white, 508px 1012px white, 593px 1034px white, 277px 596px white, 1599px 963px white, 696px 759px white, 1702px 460px white, 1220px 818px white, 877px 343px white, 681px 912px white, 474px 530px white, 1178px 1021px white, 1547px 794px white, 809px 364px white, 1387px 862px white, 942px 295px white, 379px 1059px white, 1770px 459px white, 583px 29px white, 809px 1060px white, 1643px 573px white, 431px 48px white, 1534px 942px white, 12px 456px white, 652px 530px white, 127px 1003px white, 852px 553px white, 382px 90px white, 1886px 499px white, 298px 83px white, 883px 87px white, 509px 49px white, 979px 474px white, 795px 4px white, 1656px 576px white, 1682px 240px white, 1012px 236px white, 419px 762px white, 1192px 922px white, 146px 881px white, 710px 255px white, 466px 47px white, 1286px 105px white, 761px 427px white, 35px 725px white, 798px 88px white, 1419px 1034px white, 1504px 414px white, 815px 885px white, 941px 593px white, 713px 133px white, 1634px 1012px white, 977px 885px white, 295px 923px white, 606px 973px white, 1215px 304px white, 319px 196px white, 1715px 499px white, 355px 1px white, 292px 383px white, 1416px 483px white, 792px 266px white, 128px 644px white, 1609px 733px white, 1019px 1032px white, 1158px 311px white, 180px 489px white, 996px 379px white, 710px 381px white, 1697px 571px white, 1106px 718px white, 101px 235px white, 630px 297px white, 382px 873px white, 165px 851px white, 401px 95px white, 1382px 395px white, 1437px 575px white, 505px 6px white, 343px 928px white, 754px 994px white, 1661px 455px white, 715px 168px white, 1700px 1061px white, 1420px 851px white, 439px 667px white, 1589px 272px white, 1308px 94px white, 47px 285px white, 1272px 454px white, 843px 650px white, 1060px 425px white, 1412px 573px white, 940px 59px white, 1744px 87px white, 608px 442px white, 1797px 652px white, 1901px 508px white, 1726px 134px white, 1465px 294px white, 1846px 153px white, 772px 132px white, 379px 992px white, 263px 1050px white, 709px 552px white, 1053px 472px white, 1918px 565px white, 1191px 769px white, 837px 926px white, 1555px 695px white, 562px 203px white, 1296px 132px white, 1700px 82px white, 203px 647px white, 224px 449px white, 242px 860px white, 282px 336px white, 507px 211px white, 1386px 932px white, 192px 157px white, 1910px 1054px white, 1635px 323px white, 545px 179px white, 220px 388px white, 947px 898px white, 619px 942px white, 1517px 617px white, 1610px 124px white, 1343px 338px white, 1805px 129px white, 1608px 204px white, 1249px 455px white, 1523px 77px white, 1521px 92px white, 849px 962px white, 851px 795px white, 326px 144px white, 1591px 713px white, 958px 991px white, 479px 403px white, 146px 404px white, 1598px 293px white, 618px 45px white, 1797px 315px white, 1792px 755px white, 1763px 662px white, 1045px 416px white, 246px 335px white, 595px 174px white, 94px 223px white, 1228px 195px white, 955px 366px white, 621px 687px white, 1193px 578px white, 1079px 845px white, 86px 598px white, 1161px 879px white, 1392px 753px white, 855px 207px white, 1512px 178px white, 474px 577px white, 252px 411px white, 362px 187px white, 577px 550px white, 332px 984px white, 270px 499px white, 1273px 288px white, 515px 774px white, 892px 291px white, 464px 553px white, 349px 650px white, 334px 351px white, 1288px 727px white, 1085px 160px white, 1305px 349px white, 1517px 1025px white, 172px 891px white, 116px 52px white, 1431px 1018px white, 149px 211px white, 1753px 131px white, 720px 295px white, 648px 189px white, 1624px 948px white, 567px 416px white, 1032px 776px white, 69px 266px white, 1473px 560px white, 1114px 206px white, 1801px 761px white, 1240px 612px white, 1104px 500px white, 1469px 881px white, 514px 942px white, 66px 590px white, 875px 899px white, 1526px 985px white, 693px 645px white, 1540px 242px white, 669px 629px white, 1153px 136px white, 1601px 755px white, 1772px 463px white, 1807px 585px white, 936px 885px white, 488px 1006px white, 982px 133px white, 1320px 94px white, 1447px 682px white, 854px 194px white, 1205px 68px white, 297px 756px white, 1812px 92px white, 727px 688px white, 106px 225px white, 614px 992px white, 357px 107px white, 102px 422px white, 478px 584px white, 816px 641px white, 1527px 357px white, 333px 496px white, 1268px 869px white, 591px 870px white, 785px 343px white, 1441px 531px white, 1213px 933px white, 331px 969px white, 562px 29px white, 689px 994px white, 1220px 1015px white, 1163px 650px white, 744px 41px white, 1303px 731px white, 1869px 885px white, 1434px 1078px white, 732px 104px white, 641px 481px white, 1704px 438px white, 1733px 661px white, 96px 633px white, 110px 834px white, 365px 1056px white, 1363px 196px white, 31px 662px white, 1456px 180px white, 1829px 613px white, 1126px 664px white, 248px 692px white, 1618px 470px white, 396px 642px white, 472px 255px white, 1283px 16px white, 60px 799px white, 1168px 780px white, 1714px 82px white, 1631px 550px white, 870px 1057px white, 1106px 714px white, 1067px 122px white, 43px 385px white, 377px 992px white, 482px 682px white, 233px 986px white, 1220px 106px white, 892px 685px white, 1684px 422px white, 1500px 1061px white, 1643px 857px white, 1801px 458px white, 1514px 969px white, 1789px 213px white, 1233px 1057px white, 1808px 117px white, 641px 415px white, 569px 81px white, 618px 1025px white, 282px 91px white, 885px 750px white, 108px 102px white, 200px 953px white, 1465px 277px white, 684px 662px white, 1088px 514px white, 251px 55px white, 903px 375px white, 1676px 636px white, 1543px 979px white, 854px 257px white, 324px 15px white, 1070px 279px white, 149px 274px white, 424px 568px white, 830px 52px white, 517px 813px white, 1383px 440px white, 520px 741px white, 1851px 975px white, 760px 14px white, 669px 758px white, 1456px 45px white, 559px 721px white, 178px 75px white, 328px 643px white, 1845px 99px white, 1009px 180px white, 310px 751px white, 78px 275px white, 1286px 983px white, 722px 545px white, 286px 716px white, 855px 829px white, 1729px 693px white, 486px 888px white, 1367px 403px white, 926px 601px white, 293px 349px white, 595px 1080px white, 341px 869px white, 1306px 945px white, 1387px 987px white, 1481px 746px white, 708px 792px white, 73px 867px white, 630px 228px white, 1775px 604px white, 637px 487px white, 834px 424px white, 1643px 328px white, 1248px 59px white, 541px 900px white, 544px 481px white, 1664px 244px white, 787px 870px white, 1575px 952px white, 1430px 663px white, 158px 155px white, 1701px 548px white;
}

/*# sourceMappingURL=styless.css.map */