/* line 1, ../../../../github/Landing-Page/scss/estilosGerais.scss */
* {
  margin: 0;
  padding: 0;
}

/*GERAL*/
/* line 6, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 12, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 17, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.space-between {
  justify-content: space-between;
  width: 90%;
  margin-top: 60px;
}

/* line 22, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.widhtForTwo {
  width: 50%;
}

/* line 25, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control {
  text-align: left;
}

/* line 27, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control input {
  margin-bottom: 30px;
  height: 30px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/* line 38, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control label {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  padding-top: 50px;
  color: white;
}

/* line 44, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control textarea {
  margin-bottom: 30px;
  padding-top: 20%;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

/* line 56, ../../../../github/Landing-Page/scss/estilosGerais.scss */
.form-control button {
  width: 100%;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  /* line 63, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .flex-row {
    flex-direction: column;
  }
  /* line 66, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .widhtForTwo {
    width: 100%;
  }
  /* line 69, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control {
    text-align: center;
  }
  /* line 71, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control input {
    width: 90%;
  }
  /* line 74, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control textarea {
    padding-top: 20%;
    width: 90%;
  }
  /* line 78, ../../../../github/Landing-Page/scss/estilosGerais.scss */
  .form-control button {
    margin: auto;
    width: 90%;
  }
}

/*HEADER*/
/* line 2, ../../../../github/Landing-Page/scss/header.scss */
.containerDiv {
  min-height: 100vh;
  position: relative;
  background-image: url("../imagem/galaxy-background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* line 14, ../../../../github/Landing-Page/scss/header.scss */
.subContainerDiv {
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 23, ../../../../github/Landing-Page/scss/header.scss */
.text-control {
  width: 40%;
  font-size: 1.2rem;
  text-align: justify;
}

/* line 28, ../../../../github/Landing-Page/scss/header.scss */
.CTAButton {
  margin-top: 20px;
  padding: 15px 60px;
  border: none;
  border-radius: 10px;
  background-color: #386FA4;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 800px) {
  /* line 45, ../../../../github/Landing-Page/scss/header.scss */
  .subContainerDiv {
    font-size: 1.6rem;
    text-align: center;
  }
  /* line 49, ../../../../github/Landing-Page/scss/header.scss */
  .text-control {
    width: 70%;
    font-size: 1.2rem;
    text-align: justify;
    margin-top: 35px;
    margin-bottom: 35px;
  }
}

/* line 1, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu {
  top: 0%;
  z-index: 99;
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
  position: absolute;
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* line 13, ../../../../github/Landing-Page/scss/navMenu.scss */
.divLogo {
  width: 10%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

/* line 20, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul {
  width: 90%;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
}

/* line 31, ../../../../github/Landing-Page/scss/navMenu.scss */
.mainMenu ul a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 800px) {
  /* line 37, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu {
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.719);
  }
  /* line 42, ../../../../github/Landing-Page/scss/navMenu.scss */
  .divLogo {
    width: 100%;
  }
  /* line 45, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu ul {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
  /* line 50, ../../../../github/Landing-Page/scss/navMenu.scss */
  .mainMenu ul li {
    margin-bottom: 15px;
  }
}

/*COMO POSSO AJUDAR*/
/* line 2, ../../../../github/Landing-Page/scss/howHelp.scss */
.howHelp {
  width: 50%;
  background: none;
  min-height: 100vh;
  margin: top 15px;
  flex-direction: column;
}

/* line 9, ../../../../github/Landing-Page/scss/howHelp.scss */
.titleDescription {
  margin: auto;
  width: 60%;
  margin-top: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-style: italic;
  color: #0d1520;
}

/* line 19, ../../../../github/Landing-Page/scss/howHelp.scss */
.title-content {
  font-weight: 400;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #0d1520;
}

/* line 26, ../../../../github/Landing-Page/scss/howHelp.scss */
.subtitle {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  color: #0d1520;
}

/* line 34, ../../../../github/Landing-Page/scss/howHelp.scss */
.divIcons {
  width: 100%;
  padding: 30px 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* line 42, ../../../../github/Landing-Page/scss/howHelp.scss */
.divSkills {
  width: 33%;
}

/* line 45, ../../../../github/Landing-Page/scss/howHelp.scss */
.textSkills {
  width: 70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 1.2px;
  padding-top: 10px;
}

/* line 54, ../../../../github/Landing-Page/scss/howHelp.scss */
.imgWhatHelp {
  width: 50%;
  min-height: 100vh;
  background-image: url("../imagem/background-whathelp.jpg");
  background-position: center;
  background-size: cover;
}

/* line 61, ../../../../github/Landing-Page/scss/howHelp.scss */
.bodyButton {
  color: black;
  background-color: white;
  border: 1px solid black;
}

/* line 66, ../../../../github/Landing-Page/scss/howHelp.scss */
.animateButton {
  position: absolute;
  left: 50px;
  bottom: 60px;
}

@media screen and (max-width: 1600px) {
  /* line 73, ../../../../github/Landing-Page/scss/howHelp.scss */
  .howHelp {
    width: 100%;
    margin: top 15px;
    flex-direction: column;
  }
  /* line 78, ../../../../github/Landing-Page/scss/howHelp.scss */
  .titleDescription {
    width: 75%;
  }
  /* line 81, ../../../../github/Landing-Page/scss/howHelp.scss */
  .divSkills {
    width: 100%;
    margin-bottom: 50px;
  }
  /* line 85, ../../../../github/Landing-Page/scss/howHelp.scss */
  .divIcons {
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
  }
  /* line 92, ../../../../github/Landing-Page/scss/howHelp.scss */
  .title-content {
    margin-top: 30px;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #0d1520;
  }
  /* line 99, ../../../../github/Landing-Page/scss/howHelp.scss */
  .imgWhatHelp {
    width: 100%;
    min-height: 50vh;
    margin-top: 50px;
    background-image: url("../imagem/background-whathelp.jpg");
    background-position: center;
    background-size: cover;
  }
  /* line 107, ../../../../github/Landing-Page/scss/howHelp.scss */
  .mobile-responsive {
    flex-direction: column !important;
  }
}

/* line 1, ../../../../github/Landing-Page/scss/workTogether.scss */
.heaven {
  width: 100%;
  min-height: 100vh;
  background: black;
  overflow: hidden;
}

/* line 7, ../../../../github/Landing-Page/scss/workTogether.scss */
.flexContactDiv {
  align-items: initial;
}

/* line 10, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleRedesSociais {
  color: white;
  padding-top: 100px;
  text-transform: capitalize;
}

/* line 15, ../../../../github/Landing-Page/scss/workTogether.scss */
.titleForms {
  margin-bottom: 30px;
}

/* line 18, ../../../../github/Landing-Page/scss/workTogether.scss */
.socialMediaIcon {
  color: white;
  padding-left: 30px;
}

@media screen and (max-width: 800px) {
  /* line 23, ../../../../github/Landing-Page/scss/workTogether.scss */
  .socialMediaIcon {
    padding-left: 0px;
  }
}

/* line 16, ../../../../github/Landing-Page/scss/stars.scss */
.star {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 1864px 646px white, 1160px 691px white, 1699px 160px white, 844px 53px white, 1453px 505px white, 1653px 828px white, 891px 396px white, 184px 83px white, 1818px 313px white, 1576px 383px white, 1501px 1028px white, 287px 491px white, 1748px 756px white, 1429px 780px white, 336px 1021px white, 292px 975px white, 421px 85px white, 619px 839px white, 904px 7px white, 1607px 254px white, 127px 1058px white, 1834px 430px white, 1765px 273px white, 342px 443px white, 1080px 712px white, 1403px 298px white, 80px 144px white, 159px 187px white, 1516px 998px white, 768px 542px white, 1766px 641px white, 147px 535px white, 113px 137px white, 1172px 763px white, 1592px 547px white, 952px 553px white, 1831px 416px white, 173px 509px white, 920px 452px white, 829px 465px white, 1585px 201px white, 1349px 335px white, 1599px 136px white, 421px 689px white, 114px 243px white, 1794px 57px white, 49px 855px white, 1718px 1057px white, 1323px 963px white, 1295px 214px white, 936px 84px white, 211px 881px white, 1877px 587px white, 1837px 853px white, 1101px 504px white, 1819px 837px white, 101px 1077px white, 1854px 730px white, 1548px 739px white, 1030px 834px white, 1289px 575px white, 984px 156px white, 1619px 376px white, 1745px 176px white, 1705px 440px white, 568px 402px white, 154px 1032px white, 104px 286px white, 1047px 1px white, 110px 216px white, 542px 258px white, 1826px 42px white, 351px 417px white, 1631px 29px white, 1627px 448px white, 532px 230px white, 1914px 380px white, 332px 935px white, 215px 1029px white, 1176px 170px white, 599px 723px white, 1125px 54px white, 455px 247px white, 1140px 357px white, 1585px 219px white, 961px 555px white, 681px 864px white, 1432px 472px white, 699px 853px white, 1274px 749px white, 1278px 934px white, 951px 1027px white, 1457px 559px white, 583px 363px white, 82px 598px white, 1024px 952px white, 881px 914px white, 1405px 334px white, 1051px 988px white, 1401px 27px white, 20px 688px white, 927px 176px white, 1520px 460px white, 772px 753px white, 1642px 279px white, 21px 850px white, 992px 761px white, 203px 350px white, 647px 247px white, 1519px 237px white, 62px 1023px white, 1826px 765px white, 394px 812px white, 1703px 765px white, 1739px 249px white, 1185px 923px white, 1443px 206px white, 1118px 144px white, 1904px 695px white, 1298px 338px white, 35px 711px white, 155px 289px white, 376px 353px white, 1707px 721px white, 489px 704px white, 1011px 1035px white, 355px 1040px white, 397px 933px white, 1664px 543px white, 337px 779px white, 277px 832px white, 880px 519px white, 1537px 114px white, 424px 1021px white, 1133px 957px white, 1829px 193px white, 926px 1065px white, 1432px 942px white, 511px 303px white, 1684px 532px white, 130px 551px white, 1836px 112px white, 576px 395px white, 108px 496px white, 1292px 205px white, 333px 655px white, 397px 517px white, 855px 749px white, 466px 1041px white, 351px 168px white, 1663px 468px white, 787px 589px white, 962px 779px white, 360px 468px white, 1646px 99px white, 1471px 385px white, 430px 1072px white, 1338px 19px white, 1012px 1040px white, 1613px 24px white, 1026px 425px white, 602px 391px white, 168px 979px white, 1322px 627px white, 787px 628px white, 1095px 333px white, 1597px 272px white, 1530px 855px white, 198px 552px white, 20px 635px white, 172px 779px white, 1326px 361px white, 148px 861px white, 475px 476px white, 592px 715px white, 1204px 218px white, 1087px 810px white, 137px 522px white, 537px 31px white, 1356px 525px white, 1273px 378px white, 1510px 717px white, 23px 1061px white, 1796px 338px white, 922px 502px white, 800px 181px white, 1125px 616px white, 1642px 135px white, 61px 316px white, 1539px 691px white, 758px 488px white, 591px 965px white, 1656px 179px white, 1667px 347px white, 587px 484px white, 1696px 416px white, 610px 518px white, 1187px 909px white, 786px 573px white, 395px 703px white, 925px 559px white, 386px 360px white, 1345px 112px white, 1391px 874px white, 1711px 247px white, 1773px 523px white, 1162px 577px white, 1545px 993px white, 976px 641px white, 1660px 767px white, 1504px 1024px white, 82px 723px white, 885px 214px white, 737px 1017px white, 86px 858px white, 1009px 379px white, 91px 205px white, 779px 1051px white, 1810px 770px white, 1412px 529px white, 1564px 666px white, 447px 936px white, 1828px 1044px white, 1080px 1075px white, 107px 962px white, 1646px 504px white, 1139px 704px white, 434px 486px white, 1486px 675px white, 1259px 672px white, 341px 497px white, 1287px 150px white, 814px 687px white, 488px 291px white, 889px 608px white, 891px 471px white, 985px 761px white, 1775px 298px white, 159px 971px white, 1725px 1058px white, 1177px 959px white, 1495px 1035px white, 294px 234px white, 470px 134px white, 200px 589px white, 1519px 290px white, 836px 956px white, 827px 377px white, 1599px 640px white, 885px 303px white, 1600px 59px white, 1402px 73px white, 533px 908px white, 1083px 563px white, 144px 971px white, 1706px 847px white, 532px 469px white, 1773px 750px white, 497px 510px white, 891px 736px white, 789px 820px white, 1285px 417px white, 1339px 422px white, 119px 459px white, 607px 97px white, 1744px 236px white, 976px 346px white, 413px 901px white, 24px 486px white, 360px 201px white, 613px 208px white, 1046px 519px white, 1892px 307px white, 1406px 993px white, 961px 984px white, 1119px 198px white, 1388px 306px white, 1144px 1067px white, 807px 412px white, 1359px 784px white, 1048px 467px white, 544px 591px white, 619px 401px white, 1330px 478px white, 419px 644px white, 770px 724px white, 193px 318px white, 1347px 457px white, 260px 452px white, 1169px 1001px white, 365px 28px white, 1792px 603px white, 191px 881px white, 1127px 596px white, 1583px 620px white, 1570px 410px white, 27px 88px white, 1395px 666px white, 850px 282px white, 1905px 333px white, 1037px 660px white, 648px 518px white, 1512px 660px white, 1876px 374px white, 757px 567px white, 1847px 610px white, 1289px 772px white, 449px 637px white, 1294px 928px white, 1824px 739px white, 1874px 599px white, 313px 615px white, 14px 950px white, 1171px 619px white, 547px 98px white, 4px 104px white, 1584px 619px white, 1433px 267px white, 1467px 307px white, 1572px 189px white, 27px 129px white, 925px 360px white, 216px 704px white, 760px 560px white, 1374px 407px white, 575px 515px white, 155px 494px white, 1224px 454px white, 1086px 296px white, 286px 747px white, 87px 998px white, 1038px 371px white, 719px 92px white, 431px 764px white, 1516px 107px white, 870px 428px white, 1746px 1027px white, 1278px 150px white, 974px 847px white, 167px 1021px white, 673px 1080px white, 1540px 172px white, 828px 604px white, 1700px 921px white, 1699px 998px white, 1519px 19px white, 1430px 399px white, 651px 1070px white, 1315px 937px white, 1778px 805px white, 496px 741px white, 83px 12px white, 353px 372px white, 1630px 997px white, 488px 771px white, 156px 621px white, 1343px 661px white, 167px 1016px white, 624px 794px white, 280px 1053px white, 1072px 965px white, 707px 616px white, 20px 790px white, 103px 1072px white, 1836px 666px white, 1904px 228px white, 399px 1008px white, 443px 549px white, 1541px 326px white, 782px 1038px white, 1121px 580px white, 1612px 1044px white, 378px 435px white, 590px 342px white, 1339px 256px white, 1833px 890px white, 43px 763px white, 1866px 1056px white, 1385px 749px white, 8px 843px white, 16px 464px white, 1127px 46px white, 988px 78px white, 1000px 475px white, 590px 279px white, 530px 862px white, 1742px 400px white, 665px 253px white, 906px 476px white, 1210px 620px white, 1699px 248px white, 148px 224px white, 1010px 725px white, 290px 36px white, 662px 719px white, 1170px 224px white, 1097px 611px white, 1796px 126px white, 1258px 56px white, 214px 331px white, 1878px 666px white, 1351px 783px white, 721px 118px white, 1863px 791px white, 467px 967px white, 492px 1062px white, 1883px 345px white, 169px 603px white, 909px 128px white, 1472px 136px white, 1888px 713px white, 1369px 112px white, 1363px 1009px white, 1084px 812px white, 1630px 852px white, 376px 741px white, 195px 94px white, 1702px 311px white, 1216px 209px white, 1819px 168px white, 1381px 677px white, 1668px 208px white, 68px 656px white, 395px 707px white, 1265px 1037px white, 1370px 587px white, 1576px 791px white, 1265px 99px white, 836px 2px white, 743px 860px white, 289px 999px white, 792px 457px white, 266px 417px white, 293px 953px white, 1623px 279px white, 124px 82px white, 647px 911px white, 1851px 839px white, 893px 133px white, 1625px 742px white, 1278px 796px white, 1343px 93px white, 1323px 340px white, 1781px 575px white, 510px 850px white, 1195px 171px white, 1653px 483px white, 1258px 385px white, 34px 471px white, 1726px 551px white, 437px 344px white, 1602px 413px white, 738px 67px white, 297px 530px white, 1163px 542px white, 361px 772px white, 974px 431px white, 783px 532px white, 1677px 187px white, 113px 876px white, 990px 514px white, 1163px 713px white, 1039px 645px white, 1758px 743px white, 356px 791px white, 1680px 1043px white, 1140px 542px white, 1095px 821px white, 138px 105px white, 1354px 338px white, 1704px 739px white, 1389px 294px white, 1036px 450px white, 1181px 209px white, 1185px 234px white, 1650px 1021px white, 596px 433px white, 1437px 628px white, 997px 903px white, 1798px 172px white, 607px 30px white, 1674px 942px white, 848px 371px white, 750px 586px white, 500px 575px white, 1778px 143px white, 381px 545px white, 371px 187px white, 1664px 62px white, 1324px 493px white, 1170px 963px white, 124px 279px white, 429px 208px white, 898px 263px white, 707px 863px white, 1870px 355px white, 446px 855px white, 860px 884px white, 496px 377px white, 653px 476px white, 889px 904px white;
  z-index: -99;
  animation: starAnime 20s linear infinite;
}

@keyframes starAnime {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

/* line 32, ../../../../github/Landing-Page/scss/stars.scss */
.star::after {
  content: "";
  position: absolute;
  top: 100vh;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  box-shadow: 0px 0px white, 1864px 646px white, 1160px 691px white, 1699px 160px white, 844px 53px white, 1453px 505px white, 1653px 828px white, 891px 396px white, 184px 83px white, 1818px 313px white, 1576px 383px white, 1501px 1028px white, 287px 491px white, 1748px 756px white, 1429px 780px white, 336px 1021px white, 292px 975px white, 421px 85px white, 619px 839px white, 904px 7px white, 1607px 254px white, 127px 1058px white, 1834px 430px white, 1765px 273px white, 342px 443px white, 1080px 712px white, 1403px 298px white, 80px 144px white, 159px 187px white, 1516px 998px white, 768px 542px white, 1766px 641px white, 147px 535px white, 113px 137px white, 1172px 763px white, 1592px 547px white, 952px 553px white, 1831px 416px white, 173px 509px white, 920px 452px white, 829px 465px white, 1585px 201px white, 1349px 335px white, 1599px 136px white, 421px 689px white, 114px 243px white, 1794px 57px white, 49px 855px white, 1718px 1057px white, 1323px 963px white, 1295px 214px white, 936px 84px white, 211px 881px white, 1877px 587px white, 1837px 853px white, 1101px 504px white, 1819px 837px white, 101px 1077px white, 1854px 730px white, 1548px 739px white, 1030px 834px white, 1289px 575px white, 984px 156px white, 1619px 376px white, 1745px 176px white, 1705px 440px white, 568px 402px white, 154px 1032px white, 104px 286px white, 1047px 1px white, 110px 216px white, 542px 258px white, 1826px 42px white, 351px 417px white, 1631px 29px white, 1627px 448px white, 532px 230px white, 1914px 380px white, 332px 935px white, 215px 1029px white, 1176px 170px white, 599px 723px white, 1125px 54px white, 455px 247px white, 1140px 357px white, 1585px 219px white, 961px 555px white, 681px 864px white, 1432px 472px white, 699px 853px white, 1274px 749px white, 1278px 934px white, 951px 1027px white, 1457px 559px white, 583px 363px white, 82px 598px white, 1024px 952px white, 881px 914px white, 1405px 334px white, 1051px 988px white, 1401px 27px white, 20px 688px white, 927px 176px white, 1520px 460px white, 772px 753px white, 1642px 279px white, 21px 850px white, 992px 761px white, 203px 350px white, 647px 247px white, 1519px 237px white, 62px 1023px white, 1826px 765px white, 394px 812px white, 1703px 765px white, 1739px 249px white, 1185px 923px white, 1443px 206px white, 1118px 144px white, 1904px 695px white, 1298px 338px white, 35px 711px white, 155px 289px white, 376px 353px white, 1707px 721px white, 489px 704px white, 1011px 1035px white, 355px 1040px white, 397px 933px white, 1664px 543px white, 337px 779px white, 277px 832px white, 880px 519px white, 1537px 114px white, 424px 1021px white, 1133px 957px white, 1829px 193px white, 926px 1065px white, 1432px 942px white, 511px 303px white, 1684px 532px white, 130px 551px white, 1836px 112px white, 576px 395px white, 108px 496px white, 1292px 205px white, 333px 655px white, 397px 517px white, 855px 749px white, 466px 1041px white, 351px 168px white, 1663px 468px white, 787px 589px white, 962px 779px white, 360px 468px white, 1646px 99px white, 1471px 385px white, 430px 1072px white, 1338px 19px white, 1012px 1040px white, 1613px 24px white, 1026px 425px white, 602px 391px white, 168px 979px white, 1322px 627px white, 787px 628px white, 1095px 333px white, 1597px 272px white, 1530px 855px white, 198px 552px white, 20px 635px white, 172px 779px white, 1326px 361px white, 148px 861px white, 475px 476px white, 592px 715px white, 1204px 218px white, 1087px 810px white, 137px 522px white, 537px 31px white, 1356px 525px white, 1273px 378px white, 1510px 717px white, 23px 1061px white, 1796px 338px white, 922px 502px white, 800px 181px white, 1125px 616px white, 1642px 135px white, 61px 316px white, 1539px 691px white, 758px 488px white, 591px 965px white, 1656px 179px white, 1667px 347px white, 587px 484px white, 1696px 416px white, 610px 518px white, 1187px 909px white, 786px 573px white, 395px 703px white, 925px 559px white, 386px 360px white, 1345px 112px white, 1391px 874px white, 1711px 247px white, 1773px 523px white, 1162px 577px white, 1545px 993px white, 976px 641px white, 1660px 767px white, 1504px 1024px white, 82px 723px white, 885px 214px white, 737px 1017px white, 86px 858px white, 1009px 379px white, 91px 205px white, 779px 1051px white, 1810px 770px white, 1412px 529px white, 1564px 666px white, 447px 936px white, 1828px 1044px white, 1080px 1075px white, 107px 962px white, 1646px 504px white, 1139px 704px white, 434px 486px white, 1486px 675px white, 1259px 672px white, 341px 497px white, 1287px 150px white, 814px 687px white, 488px 291px white, 889px 608px white, 891px 471px white, 985px 761px white, 1775px 298px white, 159px 971px white, 1725px 1058px white, 1177px 959px white, 1495px 1035px white, 294px 234px white, 470px 134px white, 200px 589px white, 1519px 290px white, 836px 956px white, 827px 377px white, 1599px 640px white, 885px 303px white, 1600px 59px white, 1402px 73px white, 533px 908px white, 1083px 563px white, 144px 971px white, 1706px 847px white, 532px 469px white, 1773px 750px white, 497px 510px white, 891px 736px white, 789px 820px white, 1285px 417px white, 1339px 422px white, 119px 459px white, 607px 97px white, 1744px 236px white, 976px 346px white, 413px 901px white, 24px 486px white, 360px 201px white, 613px 208px white, 1046px 519px white, 1892px 307px white, 1406px 993px white, 961px 984px white, 1119px 198px white, 1388px 306px white, 1144px 1067px white, 807px 412px white, 1359px 784px white, 1048px 467px white, 544px 591px white, 619px 401px white, 1330px 478px white, 419px 644px white, 770px 724px white, 193px 318px white, 1347px 457px white, 260px 452px white, 1169px 1001px white, 365px 28px white, 1792px 603px white, 191px 881px white, 1127px 596px white, 1583px 620px white, 1570px 410px white, 27px 88px white, 1395px 666px white, 850px 282px white, 1905px 333px white, 1037px 660px white, 648px 518px white, 1512px 660px white, 1876px 374px white, 757px 567px white, 1847px 610px white, 1289px 772px white, 449px 637px white, 1294px 928px white, 1824px 739px white, 1874px 599px white, 313px 615px white, 14px 950px white, 1171px 619px white, 547px 98px white, 4px 104px white, 1584px 619px white, 1433px 267px white, 1467px 307px white, 1572px 189px white, 27px 129px white, 925px 360px white, 216px 704px white, 760px 560px white, 1374px 407px white, 575px 515px white, 155px 494px white, 1224px 454px white, 1086px 296px white, 286px 747px white, 87px 998px white, 1038px 371px white, 719px 92px white, 431px 764px white, 1516px 107px white, 870px 428px white, 1746px 1027px white, 1278px 150px white, 974px 847px white, 167px 1021px white, 673px 1080px white, 1540px 172px white, 828px 604px white, 1700px 921px white, 1699px 998px white, 1519px 19px white, 1430px 399px white, 651px 1070px white, 1315px 937px white, 1778px 805px white, 496px 741px white, 83px 12px white, 353px 372px white, 1630px 997px white, 488px 771px white, 156px 621px white, 1343px 661px white, 167px 1016px white, 624px 794px white, 280px 1053px white, 1072px 965px white, 707px 616px white, 20px 790px white, 103px 1072px white, 1836px 666px white, 1904px 228px white, 399px 1008px white, 443px 549px white, 1541px 326px white, 782px 1038px white, 1121px 580px white, 1612px 1044px white, 378px 435px white, 590px 342px white, 1339px 256px white, 1833px 890px white, 43px 763px white, 1866px 1056px white, 1385px 749px white, 8px 843px white, 16px 464px white, 1127px 46px white, 988px 78px white, 1000px 475px white, 590px 279px white, 530px 862px white, 1742px 400px white, 665px 253px white, 906px 476px white, 1210px 620px white, 1699px 248px white, 148px 224px white, 1010px 725px white, 290px 36px white, 662px 719px white, 1170px 224px white, 1097px 611px white, 1796px 126px white, 1258px 56px white, 214px 331px white, 1878px 666px white, 1351px 783px white, 721px 118px white, 1863px 791px white, 467px 967px white, 492px 1062px white, 1883px 345px white, 169px 603px white, 909px 128px white, 1472px 136px white, 1888px 713px white, 1369px 112px white, 1363px 1009px white, 1084px 812px white, 1630px 852px white, 376px 741px white, 195px 94px white, 1702px 311px white, 1216px 209px white, 1819px 168px white, 1381px 677px white, 1668px 208px white, 68px 656px white, 395px 707px white, 1265px 1037px white, 1370px 587px white, 1576px 791px white, 1265px 99px white, 836px 2px white, 743px 860px white, 289px 999px white, 792px 457px white, 266px 417px white, 293px 953px white, 1623px 279px white, 124px 82px white, 647px 911px white, 1851px 839px white, 893px 133px white, 1625px 742px white, 1278px 796px white, 1343px 93px white, 1323px 340px white, 1781px 575px white, 510px 850px white, 1195px 171px white, 1653px 483px white, 1258px 385px white, 34px 471px white, 1726px 551px white, 437px 344px white, 1602px 413px white, 738px 67px white, 297px 530px white, 1163px 542px white, 361px 772px white, 974px 431px white, 783px 532px white, 1677px 187px white, 113px 876px white, 990px 514px white, 1163px 713px white, 1039px 645px white, 1758px 743px white, 356px 791px white, 1680px 1043px white, 1140px 542px white, 1095px 821px white, 138px 105px white, 1354px 338px white, 1704px 739px white, 1389px 294px white, 1036px 450px white, 1181px 209px white, 1185px 234px white, 1650px 1021px white, 596px 433px white, 1437px 628px white, 997px 903px white, 1798px 172px white, 607px 30px white, 1674px 942px white, 848px 371px white, 750px 586px white, 500px 575px white, 1778px 143px white, 381px 545px white, 371px 187px white, 1664px 62px white, 1324px 493px white, 1170px 963px white, 124px 279px white, 429px 208px white, 898px 263px white, 707px 863px white, 1870px 355px white, 446px 855px white, 860px 884px white, 496px 377px white, 653px 476px white, 889px 904px white;
}

/* line 1, ../../../../github/Landing-Page/scss/portfolio.scss */
.containerPortfolio {
  min-height: 200vh;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

/* line 8, ../../../../github/Landing-Page/scss/portfolio.scss */
.titlePortfolio {
  font-weight: 600;
  font-size: 45px;
}

/* line 12, ../../../../github/Landing-Page/scss/portfolio.scss */
.descrptionPortfolio {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 30%;
  text-align: center;
}

/* line 18, ../../../../github/Landing-Page/scss/portfolio.scss */
.itemPortfolio {
  width: 25%;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 25, ../../../../github/Landing-Page/scss/portfolio.scss */
.titleItemPortfolio {
  text-align: center;
}

/* line 28, ../../../../github/Landing-Page/scss/portfolio.scss */
.textItemPortfolio {
  margin-bottom: 30px;
}

/* line 31, ../../../../github/Landing-Page/scss/portfolio.scss */
.flexPortfolio {
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  /* line 36, ../../../../github/Landing-Page/scss/portfolio.scss */
  .descrptionPortfolio {
    width: 75%;
    font-size: 1.2rem;
  }
  /* line 40, ../../../../github/Landing-Page/scss/portfolio.scss */
  .titlePortfolio {
    font-weight: 400;
    font-size: 1.8rem;
  }
  /* line 44, ../../../../github/Landing-Page/scss/portfolio.scss */
  .itemPortfolio {
    width: 100%;
    padding: 30px 0px;
  }
  /* line 48, ../../../../github/Landing-Page/scss/portfolio.scss */
  .flexPortfolio {
    width: 90%;
  }
}

/*# sourceMappingURL=styless.css.map */p */